.headerContainer {
  height: 5rem;
  border: 1px solid black;

  .headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: var(--white);
        display: inline-block;
        position: relative;
        transition: ease-in-out 0.4s;

        &:hover {
          color: var(--green);
          border-bottom: 1px solid var(--green);
          line-height: 11px;
        }
      }

      button {
        background: transparent;
        border: 0;
        color: var(--red-dark);
        transition: transform 0.8s;

        &:hover {
          transform: scale(1.2);
          color: var(--red);
        }
      }
    }
  }
}
