.input {
  margin-bottom: 1rem;
  height: 35px;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--font-secondary-black400);
  color: var(--white);
  border: 1px solid var(--green);
}

.input::placeholder {
  color: var(--white);
  font-size: 14px;
}